<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="COLOR_CONSOLE" class="com.tananushka.mom.taxi.logging.ColorConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="COLOR_CONSOLE"/>
  </root>
</configuration>
